:80 {
    # reverse_proxy facial_service:5000 {
    #     health_uri /health
    #     health_interval 30s
    #     health_timeout 10s
    # }

    # handle_path /web* {
    #     reverse_proxy host.docker.internal:8000
    # }
    handle_path /api* {
        reverse_proxy facial_service:5000
    }

    # Proxy para Laravel (Fuera de Docker)
    handle {
        reverse_proxy host.docker.internal:8000
    }


    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: https://ik.imagekit.io; style-src 'self' 'unsafe-inline' https://fonts.bunny.net; font-src 'self' https://fonts.bunny.net;"
        -Server
    }

    log {
        output file /var/log/caddy/access.log
        format json
    }
}